@model IEnumerable<WebApplication1.Models.Category>


<h1>Категории</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Номер категории
            </th>
            <th>
                Описание
            </th>
           
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descc)
                </td>
            
               
            </tr>
        }
    </tbody>
</table>
