@model IEnumerable<WebApplication1.Models.Thiss>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
}


<h1>Меню</h1>

<div>
    <ul>
        <li><a asp-action="Category" asp-controller="Thisses" class="nav-link">Категории</a></li>

        <li><a asp-action="Thisss" asp-controller="Thisses" class="nav-link">Существа</a></li>

        <li><a asp-action="Kingdoms" asp-controller="Thisses" class="nav-link">Царства</a></li>

        <li><a asp-action="ClassA" asp-controller="Thisses" class="nav-link">Классы</a></li>


    </ul>
</div>

